In [1]:
import os
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

In [2]:
graph_file='../data/network.csv'
graph=pd.read_csv(graph_file)
graph

     network_id station1 station2
0             1     vpGT     Femc
1             2     Femc     dJlm
2             3     dJlm     jebQ
3             4     jebQ     PsTo
4             5     PsTo     mxQg
..          ...      ...      ...
109         110     BCRD     AVjc
110         111     AVjc     uYlv
111         112     uYlv     wwYD
112         113     wwYD     mkGW
113         114     mkGW     rKwb

[114 rows x 3 columns]

In [15]:
x=graph['station2'].value_counts()
x=x[x>=2]
x

KsBm    2
efzW    2
iHon    2
RDLf    2
LKUe    2
cRgf    2
TlTg    2
Name: station2, dtype: int64

In [16]:
x=graph['station1'].value_counts()
x=x[x>=2]
x

RDLf    3
NqOG    3
KsBm    2
iHon    2
UMoa    2
hwjA    2
Name: station1, dtype: int64